@model List<Event>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["index"];
}
<link rel="stylesheet" href="css/Bidder/Home/index.css" />
<div class="h-100">
    <video playsinline autoplay muted loop>
        <source src="~/css/Bidder/Home/HEXXX.mp4" type="video/mp4">
    </video>
    <div class="h-100 container mt-lg-n5 position-relative d-flex flex-column">
        <div id="infoBanner" class="w-100 h-auto bg-dark mb-4 d-flex p-2">
            <div class="w-100 d-flex flex-column overflow-hidden mr-4">
                <h1>@Localizer["welcome"]</h1>
                <h6>@Localizer["generalInfo"]</h6>
            </div>
            <div class="w-100 d-flex flex-column overflow-hidden mr-4">
                <h1>@Localizer["instructions"]</h1>
                <h6>@Localizer["instructionsInfo"]</h6>
            </div>
        </div>
        <div class="w-100 h-auto card-group container">

        </div>
    </div>
</div>

<script src="js/Bidder/Home/index.js"></script>