@model List<Event>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="css/Bidder/Home/index.css"/>
<div class="h-100">
    <video playsinline autoplay muted loop>
        <source src="~/css/Bidder/Home/HEXXX.mp4" type="video/mp4">
    </video>
    <div class="h-100 container mt-lg-n5 position-relative d-flex flex-column">
        <div id="infoBanner" class="w-100 h-auto bg-dark mb-4 d-flex p-2">
            <div class="w-100 d-flex flex-column overflow-hidden mr-4">
                <h1>Welcome to Auction 2.0</h1>
                <h6>Some veeeeeeeeeeery lonnnnnnnnnnng text about general information of whatever you wantis supposed to go here</h6>
            </div>
            <div class="w-100 d-flex flex-column overflow-hidden mr-4">
                <h1>Instructions</h1>
                <h6>information in how to bid is supposed to go here. Make it long and boring so no one reads it. Kinda of like this unnecessary paragraph that you're reading right now which is not helping for anything really.information in how to bid is supposed to go here. Make it long and boring so no one reads it. Kinda of like this unnecessary paragraph that you're reading right now which is not helping for anything really.information in how to bid is supposed to go here. Make it long and boring so no one reads it. Kinda of like this unnecessary paragraph that you're reading right now which is not helping for anything really.</h6>
            </div>
        </div>
        <div class="w-100 h-auto card-group container">
           
        </div>
    </div>
</div>

<script src="js/Bidder/Home/index.js"></script>