@model AuctionData

<form asp-action="Create" method="post" class="form-group">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="form-control-plaintext">Start date</label>
        <div class="d-flex justify-content-between">
            <div class="input-group w-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date</span>
                </div>
                <!--input startDate-->
                <input id="createStartDate" type="date" class="form-control" />
            </div>
            <div class="input-group  w-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text">Time</span>
                </div>
                <!--input startTime-->
                <input id="createStartTime" type="time" class="form-control" />
            </div>
        </div>
        <!--hidden input startDateTime-->
        <input name="StartDate" id="createStartDateTime" hidden />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-control-plaintext">End date</label>
        <div class="d-flex justify-content-between">
            <div class="input-group w-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date</span>
                </div>
                <!--input endDate-->
                <input id="createEndDate" type="date" class="form-control" />
            </div>
            <div class="input-group w-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text">Time</span>
                </div>
                <!--input endTime-->
                <input id="createEndTime" type="time" class="form-control" />
            </div>
        </div>
        <!--hidden input endDateTime-->
        <input name="endDate" id="createEndDateTime" hidden />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>