html {
    height: 100%;
}

body {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Scrollbar Styling Starts Here (not supported on firefox)' */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #242424;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3);
        background-color: #555;
    }
/* Scrollbar Styling Ends Here */


#_layoutHeader {
    min-height: 75px;
    background-color: #090c08;
}

    #_layoutHeader a { color: #ffffff; }

        #_layoutHeader a:hover {
            color: #a882dd;
            text-decoration: none;
            cursor: pointer;
        }

#searchWrapper { min-width: 300px; }

    #searchWrapper input {
        background-color: #242424;
        border: none;
        color: #ffffff;
    }
#searchWrapper input:focus { box-shadow: none; }
        
        #searchWrapper i {
            color: #ffffff;
        }

    #searchWrapper a {
        background-color: #242424;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}
